:root {
  --primary: #0c2b4b;
  --secondary: #757575;
  --light: #f3f6f8;
  --dark: #0c2b4b;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #384047;
}

.bg-badmin {
  background-image: url('../img/badmin.jpg');
  background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-poster {
  background-image: url('../img/poster.jpg');
  background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-futsal {
  background-image: url('../img/futsal.jpg');
  background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-ml {
  background-image: url('../img/ml.jpg');
  background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-photography {
  background-image: url('../img/photography.jpg');
  background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-essay {
  background-image: url('../img/essay.jpg');
  background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-cpc {
  background-image: url('../img/cpc.jpg');
  background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}



form {
  max-width: 60vh;
  margin: 10px auto;
  padding: 3.5rem;
  background: #dddddd;
  border-radius: 8px;
  
}

.formm {
  animation: fadeIn 1s forwards;
  background-color: #0c2b4b;
}

h1 {
  margin: 36px 0;
  text-align: center;
  color: var(--primary);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  height: auto;
  padding: 10px;
  width: 100%;
  background-color: white;
  /* color: #8a97a0; */
  /* box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset; */
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 14px;
  color: #fff;
  font-weight: 600;
  background-color: #01c38d;
  font-size: 1.2em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  border: 0px solid var(--primary);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

button:hover{
  background-color: rgba(1, 195, 141, 0.7);
  color: #fff;
}

fieldset {
  border: none;
}

legend {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  margin: 1.5rem 0;
}

label {
  display: block;
  font-size: 0.9em;
  margin-top: 16px;
  color: #fff
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #01c38d;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.btn-daftar {
  background-color: var(--primary);
}
.btn-buat {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #01c38d;
  border: none;
}
.btn-buat:hover {
  background-color: rgba(1, 195, 141, 0.7);
  color: #fff;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

@keyframes fadeIn {
  from{
      opacity: 0.7;
      transform: translateY(-20px);
  }

  to{
      opacity: 1;
      transform: translateY(0px)
  }
}
